Source: ros-kinetic-pcl-ros
Section: misc
Priority: extra
Maintainer: Paul Bovbel <paul@bovbel.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libpcl-dev, libproj-dev, libvtk-java, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-dynamic-reconfigure, ros-kinetic-genmsg, ros-kinetic-message-filters, ros-kinetic-nodelet, ros-kinetic-nodelet-topic-tools, ros-kinetic-pcl-conversions, ros-kinetic-pcl-msgs, ros-kinetic-pluginlib, ros-kinetic-rosbag, ros-kinetic-rosconsole, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-rostest, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf2-eigen
Homepage: http://ros.org/wiki/perception_pcl
Standards-Version: 3.9.2

Package: ros-kinetic-pcl-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libpcl-dev, libproj-dev, libvtk-java, ros-kinetic-dynamic-reconfigure, ros-kinetic-message-filters, ros-kinetic-nodelet, ros-kinetic-nodelet-topic-tools, ros-kinetic-pcl-conversions, ros-kinetic-pcl-msgs, ros-kinetic-pluginlib, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf2-eigen
Description: PCL (Point Cloud Library) ROS interface stack.
 PCL-ROS is the preferred bridge for 3D applications involving n-D Point Clouds and 3D geometry processing in ROS.
