Source: ros-groovy-perception-pcl
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://ros.org/wiki/perception_pcl
Standards-Version: 3.9.2

Package: ros-groovy-perception-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-pcl-ros
Description: PCL (Point Cloud Library) ROS interface stack. PCL-ROS is the preferred bridge for 3D applications involving n-D Point Clouds and 3D geometry processing in ROS.
